<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./../stylecss/main.css">

</head>
<body>
    <header>
        <nav>
            <span>
                <a href="./../index.html">
                    <img src="./../images/emblema.png" alt="Кнопка виходу на головну сторінку" width="150">
                </a>
            </span>
            <a href="./../index.html#services">Послуги</a>
            <a href="./shop.html">Магазин</a>
            <a href="./../index.html#reviews">Відгуки</a>
            <button id="openFormBtn">Зв'язатись</button>
        </nav>
    </header>
    <article>
        <img src="./../images/doctor_face.jpg" alt="Доктор" width="150">
        <h6>Я, Овчаренко Олена Анатоліївна — лікар-алерголог, косметолог, сертифікований тренер. Моє покликання — допомагати вам зберігати красу і здоров’я, використовуючи найсучасніші та ефективні методи. Разом ми створимо індивідуальний підхід для найкращого догляду за вашою шкірою та підтримки її молодості.</h6>
    </article>

        <div class="carousel-inner">
            <div class="item active">
                <img src="./../images/Sert-1.png" alt="Los Angeles" width="550">
            </div>

            <div class="item">
                <img src="./../images/Sert-2.png" alt="Chicago" width="550">
            </div>
    
            <div class="item">
                <img src="./../images/Sert-3.png" alt="Chicago" width="550">
            </div>

            <div class="item">
                <img src="./../images/Sert-4.png" alt="Chicago" width="550">
            </div>

            <div class="item">
                <img src="./../images/Sert-5.png" alt="Chicago" width="550">
            </div>

            <div class="item">
                <img src="./../images/Sert-6.png" alt="Chicago" width="550">
            </div>

            <div class="item">
                <img src="./../images/Sert-7.png" alt="Chicago" width="550">
            </div>

            <div class="item">
                <img src="./../images/Sert-8.png" alt="Chicago" width="550">
            </div>

            <div class="item">
                <img src="./../images/Sert-9.png" alt="Chicago" width="550">
            </div>

            <div class="item">
                <img src="./../images/Sert-10.png" alt="Chicago" width="550">
            </div>

            <div class="item">
                <img src="./../images/Sert-11.png" alt="Chicago" width="550">
            </div>

            <div class="item">
                <img src="./../images/Sert-12.png" alt="Chicago" width="550">
            </div>

            <div class="item">
                <img src="./../images/Sert-13.png" alt="Chicago" width="550">
            </div>

            <div class="item">
                <img src="./../images/Sert-14.png" alt="Chicago" width="550">
            </div>

            <div class="item">
                <img src="./../images/Sert-15.png" alt="Chicago" width="550">
            </div>

    </div>

    <!-- Left and right controls -->


    <footer id="=contacts">
        <div>
            <h2>Зв'яжіться з нами</h2>
            <p>Phone</p>
            <a href="tel:+1234567890"><b>+123-456-78-90</b></a>
            <p>Email</p>
            <a href="mailto:examplemail@email.org"><b>name@email.com</b></a>
            <p>Address</p>
            <a href="https://maps.app.goo.gl/KUZNQT1GrH1TAQYc9"><b>Київ, вул.Жилянська 31</b></a>
            <div>
                <span><img src="./../images/metro.png" alt="Емблема метрополітена" width="15"></span>
                <b>Олімпійська</b>
            </div>
        </div>
        <div id="social_media">
            <div><img src="./../images/emblema.png" alt="Емблема клініки" width="200"></div>
            <div id="social_media_links">
                <div><a href="https://www.tiktok.com/@dr.ovcharenko?_t=8qtqBxTkLOX&_r=1"><img src="./../images/tiktok.png" alt="tik tok" width="40"></a></div>
                <div><a href="https://www.instagram.com/cosmetology_dr.ovcharenko/"><img src="./../images/instagram.png" alt="instagram" width="40"></a></div>
            </div>
        </div>
    </footer>
</body>
</html>