<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Інформація про лікаря</title>
    <link rel="stylesheet" href="./../stylecss/main.css">
    <link rel="stylesheet" href="./../stylecss/doctor_info.css">
    <!-- <link rel="stylesheet" href="./../stylecss/main_menu.css"> -->
    <link rel="preload" href="./../images/Sert-1.png" as="image" type="png">
    <link rel="preload" href="./../images/Sert-2.png" as="image" type="png">
    <link rel="preload" href="./../images/Sert-3.png" as="image" type="png">
    <link rel="preload" href="./../images/Sert-4.png" as="image" type="png">
    <link rel="preload" href="./../images/Sert-5.png" as="image" type="png">
    <link rel="preload" href="./../images/Sert-6.png" as="image" type="png">
    <link rel="preload" href="./../images/Sert-7.png" as="image" type="png">
    <link rel="preload" href="./../images/Sert-8.png" as="image" type="png">
    <link rel="preload" href="./../images/Sert-9.png" as="image" type="png">
    <link rel="preload" href="./../images/Sert-10.png" as="image" type="png">
    <link rel="preload" href="./../images/Sert-11.png" as="image" type="png">
    <link rel="preload" href="./../images/Sert-12.png" as="image" type="png">
    <link rel="preload" href="./../images/Sert-13.png" as="image" type="png">
    <link rel="preload" href="./../images/Sert-14.png" as="image" type="png">
    <link rel="preload" href="./../images/Sert-15.png" as="image" type="png">
</head>
<body>
    <header>
        <nav>
            <div class="emblema">
                <a href="./../index.html">
                    <img src="./../images/emblema.png" alt="Кнопка виходу на головну сторінку">
                </a>
            </div>
            <div class="links">
            <div class="links-inner a"><a class="links-a" href="./../index.html#services">Послуги</a></div>
            <div class="links-inner a"><a class="links-a" href="./shop.html">Магазин</a></div>
            <div class="links-inner a"><a class="links-a" href="./../index.html#reviews">Відгуки</a></div>
            <div class="links-inner"><button id="openFormBtn" class="contact_button">Зв'язатись</button></div>
            </div>
        </nav>
    </header>
    
    <div id="formWraper" class="form-wraper">
        <div class="form-container">
            <div class="cls-btn-wrp"><button class="cls-btn" id="closeZapisForm">×</button></div>
            <form method="dialog" class="dialog-form" id="zapisForm">
                <h2 class="zapis-hat">Записатися на прийом</h2>
                <div class="form-insides">
                    <label for="name">Ваше ім'я:</label>
                    <input class="form-inputs" type="text" id="zapisName" name="name" placeholder="Введіть ваше ім'я">
                </div>

                <div class="form-insides">
                    <label for="phone">Ваш телефон:</label>
                    <input class="form-inputs" type="tel" id="zapisPhone" name="phone" placeholder="+380 (XX) XXX-XXXX" pattern="\+?[0-9\s\-\(\)]{10,15}">
                </div>

                <div class="form-insides big-input">
                    <label for="message">Коментар:</label>
                    <textarea class="form-inputs" id="zapisMessage" name="message" placeholder="Ваші побажання або питання"></textarea>
                </div>
                <div class="form-insides">
                    <label>
                        <input type="checkbox" id="zapisAgree" name="agree">
                        Погоджуюсь на обробку даних
                    </label>
                </div>
                <button class="submit-btn" id="submitZapisBtn" type="submit">Записатися</button>
            </form>
        </div>
    </div>
    
    <article class="face_article">
        <div class="face_container">
            <div class="face-wraper"><img class="face_inside_image" src="./../images/doctor_face.jpg" alt="Доктор"></div>
            <h6 class="face_inside">Я, Овчаренко Олена Анатоліївна — лікар-алерголог, косметолог, серифікований тренер. Моє покликання — допомагати вам зберігати красу і здоров’я, використовуючи найсучасніші та ефективні методи. Разом ми створимо індивідуальний підхід для найкращого догляду за вашою шкірою та підтримки її молодості.</h6>
        </div>
    </article>






        <div class="diplomas_container_centrifier">
            <div class="diplomas-gridy-container">
                <div class="image-container">
                    <img src="./../images/Sert-1.png" alt="preview" class="thumbnail" onclick="showFullImage(this)">
                </div>
            
                <div class="image-container">
                    <img src="./../images/Sert-2.png" alt="preview" class="thumbnail" onclick="showFullImage(this)">
                </div>
            
                <div class="image-container">
                    <img src="./../images/Sert-3.png" alt="preview" class="thumbnail" onclick="showFullImage(this)">
                </div>
            
                <div class="image-container">
                    <img src="./../images/Sert-4.png" alt="preview" class="thumbnail" onclick="showFullImage(this)">
                </div>
            
                <div class="image-container">
                    <img src="./../images/Sert-5.png" alt="preview" class="thumbnail" onclick="showFullImage(this)">
                </div>
            
                <div class="image-container">
                    <img src="./../images/Sert-6.png" alt="preview" class="thumbnail" onclick="showFullImage(this)">
                </div>
            
                <div class="image-container">
                    <img src="./../images/Sert-7.png" alt="preview" class="thumbnail" onclick="showFullImage(this)">
                </div>
            
                <div class="image-container">
                    <img src="./../images/Sert-8.png" alt="preview" class="thumbnail" onclick="showFullImage(this)">
                </div>
            
                <div class="image-container">
                    <img src="./../images/Sert-9.png" alt="preview" class="thumbnail" onclick="showFullImage(this)">
                </div>
            
                <div class="image-container">
                    <img src="./../images/Sert-10.png" alt="preview" class="thumbnail" onclick="showFullImage(this)">
                </div>
            
                <div class="image-container">
                    <img src="./../images/Sert-11.png" alt="preview" class="thumbnail" onclick="showFullImage(this)">
                </div>
            
                <div class="image-container">
                    <img src="./../images/Sert-12.png" alt="preview" class="thumbnail" onclick="showFullImage(this)">
                </div>
            
                <div class="image-container">
                    <img src="./../images/Sert-13.png" alt="preview" class="thumbnail" onclick="showFullImage(this)">
                </div>
            
                <div class="image-container">
                    <img src="./../images/Sert-14.png" alt="preview" class="thumbnail" onclick="showFullImage(this)">
                </div>
            
                <div class="image-container">
                    <img src="./../images/Sert-15.png" alt="preview" class="thumbnail" onclick="showFullImage(this)">
                </div>
            </div>
        </div>


    <div id="full-image-modal" class="modal" onclick="closeModal()">
        <img id="full-image" src="" alt="diploma">
    </div>







    <footer id="=contacts">
        <div class="social_media">
            <div><img class="emblema-footer" src="./../images/emblema.png" alt="Емблема клініки"></div>
            <div class="social_media_links">
                <div><a href="https://www.tiktok.com/@dr.ovcharenko?_t=8qtqBxTkLOX&_r=1"><img src="./../images/tiktok.png" alt="tik tok" width="40"></a></div>
                <div><a href="https://www.instagram.com/cosmetology_dr.ovcharenko/"><img src="./../images/instagram.png" alt="instagram" width="40"></a></div>
            </div>
        </div>
        
        <div class="phone">
            <h2>Зв'яжіться з нами</h2>
            <p class="unclapped_margin"><b>Phone</b></p>
            <a href="tel:+1234567890"><b>+123-456-78-90</b></a>
            <p class="unclapped_margin"><b>Email</b></p>
            <a href="mailto:examplemail@email.org"><b>name@email.com</b></a>
        </div>
        <div class="location">
            <h2>Address</h2>
            <a class="unclapped_margin" href="https://maps.app.goo.gl/KUZNQT1GrH1TAQYc9"><b>Київ, вул.Жилянська 31</b></a>
            <div>
                <span><img src="./../images/metro.png" alt="Емблема метрополітена" width="15"></span>
                <b>Олімпійська</b>
            </div>
        </div>
    </footer>
    <script src="./../scripts/doctor_info.js"></script>
    <script src="./../scripts/zapis.js"></script>
</body>
</html>