<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .items{
           border:1px solid black; 
        }
    </style>
</head>
<body>
    <header>
        <nav>
            <span>
                <a href="./../index.html">
                    <img src="./../images/emblema.jpg" alt="Кнопка виходу на головну сторінку" width="150px">
                </a>
            </span>
            <a href="./../index.html#hero">Головна</a>
            <a href="./../index.html#services">Послуги</a>
            <a href="./shop.html">Магазин</a>
            <a href="./../index.html#reviews">Відгуки</a>
            <button id="openFormBtn">Зв'язатись</button>
        </nav>
    </header>
    
    <div class="items">
        <div><img src="./../images/cream_item.jpg" alt="Фото крема" width="150px"></div>
        <div>
            <div>Назва</div>
            <div>Артикул</div>
            <div>Опис</div>
            <div>300 грн</div>

        </div>
    </div>
        <div class="items">
        <div><img src="./../images/cream_item.jpg" alt="Фото крема" width="150px"> </div>
        <div>
            <div>Назва</div>
            <div>Артикул</div>
            <div>Опис</div>
            <div>300 грн</div>

        </div>
    </div>
        <div class="items">
        <div><img src="./../images/cream_item.jpg" alt="Фото крема" width="150px"> </div>
        <div>
            <div>Назва</div>
            <div>Артикул</div>
            <div>Опис</div>
            <div>300 грн</div>

        </div>
    </div>
        <div class="items">
        <div><img src="./../images/cream_item.jpg" alt="Фото крема" width="150px"> </div>
        <div>
            <div>Назва</div>
            <div>Артикул</div>
            <div>Опис</div>
            <div>300 грн</div>

        </div>
    </div>
        <div class="items">
        <div><img src="./../images/cream_item.jpg" alt="Фото крема" width="150px"> </div>
        <div>
            <div>Назва</div>
            <div>Артикул</div>
            <div>Опис</div>
            <div>300 грн</div>

        </div>
    </div>
        <div class="items">
        <div><img src="./../images/cream_item.jpg" alt="Фото крема" width="150px"> </div>
        <div>
            <div>Назва</div>
            <div>Артикул</div>
            <div>Опис</div>
            <div>300 грн</div>

        </div>
    </div>
    
    <footer id="=contacts">
        <div>
            <blockquote><h2>Зв'яжіться з нами</h2></blockquote>
            <p>Phone</p>
            <b>+123-456-78-90</b>
            <p>Email</p>
            <b>name@email.com</b>
            <p>Address</p>
            <b><a href="https://maps.app.goo.gl/KUZNQT1GrH1TAQYc9">Київ, вул.Жилянська 31</a></b>
            <div>
                <span><img src="./../images/metro.png" alt="Емблема метрополітена" width="15px"></span>
                <b>Олімпійська</b>
            </div>
        </div>
        <a href="./../index.html/#contacts">Контакти</a>
        <a href="https://www.tiktok.com/@dr.ovcharenko?_t=8qtqBxTkLOX&_r=1"><img src="./../images/tiktok.png" alt="tik tok" width="30px"></a>
        <a href="https://www.instagram.com/cosmetology_dr.ovcharenko/"><img src="./../images/instagram.png" alt="instagram" width="30px"></a>
    </footer>
</body>
</html>