<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div><img src="./../images/cream_item.jpg" alt="Зображення крема" width="50"></div>
    <div>
        <div class="tabs">
            <div class="items" class="options-dialog" >Benefits</div>
            <div class="items" class="options-dialog" >How to use</div>
            <div class="items" class="options-dialog" >Ingredients</div>
        </div>
        <div class="content" id="content">
            Виберіть один з варіантів вище, щоб побачити текст.
        </div>
    </div>
<button id="closeDialog">Закрити</button>
</body>
</html>
