:root{
    --color-primary-dark: #1D2D25;
    --color-teracota-dark: #91524B;
    --color-teracota-light: #BA7D66;
    --color-beige-light: #C09E94;
    --color-grey-light: #CCD2D2;
}
footer{
    background-color: var(--color-teracota-light);
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
}

#social_media{
    display: flex;
    flex-direction: column;
    align-items: center;
}


#social_media_links{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#social_media_links div a img{
    width: 50;
}
