@import url(./header.css);
@import url(./footer.css);
@import url(./main_menu.css);
:root{
    --color-teracota-darker:#7D3E37;
    --color-teracota-dark: #91524B;
    --color-teracota-light: #BA7D66;
    --color-beige-light: #C09E94;
    --color-beige-grey: #D9C5BC;
    --color-nearly-white: #EDE1CF;
}
html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    background-color:var(--color-nearly-white);
}