<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ін'єкційна косметологія</title>
</head>
<body>
    <header>
        <nav>
            <span>
                <a href="./../../index.html">
                    <img src="./../../images/emblema.jpg" alt="Кнопка виходу на головну сторінку" width="150px">
                    </a>
                </span>
            <a href="./../../index.html#services">Послуги</a>
            <a href="./../shop.html">Магазин</a>
            <a href="./../../index.html#reviews">Відгуки</a>
            <button id="openForm1Btn">Онлайн запис</button>
        </nav>
    </header>
    <main>
        <h2>Мезотерапія/Біоревіталізація</h2>
        <div>
            <h4>Dermaheal SB/SR</h4>
            <div>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolores voluptates ullam illo, non modi facere.</div>
            <div>1000 грн</div>
            <button id="moreAbout">Детальніше</button>
            <button id="signUpForm">Записатись</button>
        </div>
        <div>
            <h4>Hyalual 1,1-2,2%</h4>
            <div>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Pariatur modi similique, mollitia fuga quaerat porro.</div>
            <div>3400-3800 грн</div>
            <button id="moreAbout">Детальніше</button>
            <button id="signUpForm">Записатись</button>
        </div>
        <div>
            <h4>RRS HA Hyalift 75 Proactive</h4>
            <div>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Pariatur modi similique, mollitia fuga quaerat porro.</div>
            <div>2000 грн</div>
            <button id="moreAbout">Детальніше</button>
            <button id="signUpForm">Записатись</button>
        </div>
        <div>
            <h4>RRS HA Long Lasting</h4>
            <div>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Pariatur modi similique, mollitia fuga quaerat porro.</div>
            <div>5500 грн</div>
            <button id="moreAbout">Детальніше</button>
            <button id="signUpForm">Записатись</button>
        </div>
        <div>
            <h4>RRS HA eyes</h4>
            <div>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Pariatur modi similique, mollitia fuga quaerat porro.</div>
            <div>1600 грн</div>
            <button id="moreAbout">Детальніше</button>
            <button id="signUpForm">Записатись</button>
        </div>
        <div>
            <h4>TwAc Eyes</h4>
            <div>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Pariatur modi similique, mollitia fuga quaerat porro.</div>
            <div>3500 грн</div>
            <button id="moreAbout">Детальніше</button>
            <button id="signUpForm">Записатись</button>
        </div>
        <div>
            <h4>Rejuran S/I</h4>
            <div>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Pariatur modi similique, mollitia fuga quaerat porro.</div>
            <div>3400 грн</div>
            <button id="moreAbout">Детальніше</button>
            <button id="signUpForm">Записатись</button>
        </div>
        <div>
            <h4>Rejuran Healer</h4>
            <div>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Pariatur modi similique, mollitia fuga quaerat porro.</div>
            <div>5000 грн</div>
            <button id="moreAbout">Детальніше</button>
            <button id="signUpForm">Записатись</button>
        </div>
        <div>
            <h4>Plenhyage XL Strong</h4>
            <div>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Pariatur modi similique, mollitia fuga quaerat porro.</div>
            <div>5500 грн</div>
            <button id="moreAbout">Детальніше</button>
            <button id="signUpForm">Записатись</button>
        </div>
        <div>
            <h4>TwAc 3.0</h4>
            <div>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Pariatur modi similique, mollitia fuga quaerat porro.</div>
            <div>6800 грн</div>
            <button id="moreAbout">Детальніше</button>
            <button id="signUpForm">Записатись</button>
        </div>
        <div>
            <h4>Jalupro</h4>
            <div>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Pariatur modi similique, mollitia fuga quaerat porro.</div>
            <div>3200 грн</div>
            <button id="moreAbout">Детальніше</button>
            <button id="signUpForm">Записатись</button>
        </div>
        <div>
            <h4>Jalupro HMW</h4>
            <div>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Pariatur modi similique, mollitia fuga quaerat porro.</div>
            <div>4800 грн</div>
            <button id="moreAbout">Детальніше</button>
            <button id="signUpForm">Записатись</button>
        </div>
        <h2>Ботулінотерапія</h2>
        <h3>Набота (Корея)</h3>
        <div>
            <h4>1 зона</h4>
            <div>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolores voluptates ullam illo, non modi facere.</div>
            <div>2000 грн</div>
            <button id="moreAbout">Детальніше</button>
            <button id="signUpForm">Записатись</button>
        </div>
        <div>
            <h4>2 зони</h4>
            <div>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolores voluptates ullam illo, non modi facere.</div>
            <div>3500 грн</div>
            <button id="moreAbout">Детальніше</button>
            <button id="signUpForm">Записатись</button>
        </div>
        <div>
            <h4>3 зони</h4>
            <div>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolores voluptates ullam illo, non modi facere.</div>
            <div>5000 грн</div>
            <button id="moreAbout">Детальніше</button>
            <button id="signUpForm">Записатись</button>
        </div>
        <div>
            <h4>Лікування гіпергідрозу</h4>
            <div>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolores voluptates ullam illo, non modi facere.</div>
            <div>2000 грн</div>
            <button id="moreAbout">Детальніше</button>
            <button id="signUpForm">Записатись</button>
        </div>
        <h3>Ксеомін (Німеччина)</h3>
        <div>
            <h4>1 зона</h4>
            <div>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolores voluptates ullam illo, non modi facere.</div>
            <div>3000 грн</div>
            <button id="moreAbout">Детальніше</button>
            <button id="signUpForm">Записатись</button>
        </div>
        <div>
            <h4>2 зони</h4>
            <div>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolores voluptates ullam illo, non modi facere.</div>
            <div>5500 грн</div>
            <button id="moreAbout">Детальніше</button>
            <button id="signUpForm">Записатись</button>
        </div>
        <div>
            <h4>3 зони</h4>
            <div>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolores voluptates ullam illo, non modi facere.</div>
            <div>8000 грн</div>
            <button id="moreAbout">Детальніше</button>
            <button id="signUpForm">Записатись</button>
        </div>
        <div>
            <h4>Мезоботокс від</h4>
            <div>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolores voluptates ullam illo, non modi facere.</div>
            <div>3500 грн</div>
            <button id="moreAbout">Детальніше</button>
            <button id="signUpForm">Записатись</button>
        </div>
    </main>
    <footer id="=contacts">
        <div>
            <blockquote><h2>Зв'яжіться з нами</h2></blockquote>
            <p>Phone</p>
            <a href="tel:+1234567890"><b>+123-456-78-90</b></a>
            <p>Email</p>
            <a href="mailto:examplemail@email.org"><b>name@email.com</b></a>
            <p>Address</p>
            <a href="https://maps.app.goo.gl/KUZNQT1GrH1TAQYc9"><b>Київ, вул.Жилянська 31</b></a>
            <div>
                <span><img src="./../../images/metro.png" alt="Емблема метрополітена" width="15px"></span>
                <b>Олімпійська</b>
            </div>
        </div>
        <a href="https://www.tiktok.com/@dr.ovcharenko?_t=8qtqBxTkLOX&_r=1"><img src="./../../images/tiktok.png" alt="tik tok" width="30px"></a>
        <a href="https://www.instagram.com/cosmetology_dr.ovcharenko/"><img src="./../../images/instagram.png" alt="instagram" width="30px"></a>
    </footer>
</body>
</html>