<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <nav>
            <span>
                <a href="./../../index.html">
                    <img src="./../../images/emblema.jpg" alt="Кнопка виходу на головну сторінку" width="150px">
                    </a>
                </span>
            <a href="./../../index.html#hero">Головна</a>
            <a href="./../../index.html#services">Послуги</a>
            <a href="./../shop.html">Магазин</a>
            <a href="./../../index.html#reviews">Відгуки</a>
            <button id="openForm1Btn">Онлайн запис</button>
        </nav>
    </header>
</body>
</html>