<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Естетична косметологія</title>
</head>
<body>
    <header>
        <nav>
            <span>
                <a href="./../../index.html">
                    <img src="./../../images/emblema.png" alt="Кнопка виходу на головну сторінку" width="150">
                    </a>
                </span>
            <a href="./../../index.html#services">Послуги</a>
            <a href="./../shop.html">Магазин</a>
            <a href="./../../index.html#reviews">Відгуки</a>
            <button id="openFormS_aes">Онлайн запис</button>
        </nav>
    </header>
    <main>
        <h3>Чистка</h3>
        <div>
            <h4>Чистка + маска</h4>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolores voluptates ullam illo, non modi facere.</p>
            <div>1000 грн</div>
            <button id="signUpFormcl1">Записатись</button>
        </div>
        <div>
            <h4>Чистка + пілінг</h4>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Pariatur modi similique, mollitia fuga quaerat porro.</p>
            <div>1300 грн</div>
            <button id="signUpFormcl2">Записатись</button>
        </div>
        <div>
            <h4>Чистка + карбоксітерапія</h4>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellendus esse incidunt eum doloribus. Ex, eius.</p>
            <div>1600 грн</div>
            <button id="signUpFormcl3">Записатись</button>
        </div>
        <div>
            <h4>Чистка + пілінг Kemikum</h4>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellendus esse incidunt eum doloribus. Ex, eius.</p>
            <div>1600 грн</div>
            <button id="signUpFormcl4">Записатись</button>
        </div>

        <h3>Пілінги</h3>
        <div>
            <h4>Поверхневі пілінги</h4>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolores voluptates ullam illo, non modi facere.</p>
            <div>900 грн</div>
            <button id="signUpFormpl1">Записатись</button>
        </div>
        <div>
            <h4>Ретиноловий пілінг</h4>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Pariatur modi similique, mollitia fuga quaerat porro.</p>
            <div>1800 грн</div>
            <button id="signUpFormpl2">Записатись</button>
        </div>
        <div>
            <h4>Пілінг Джесснера</h4>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellendus esse incidunt eum doloribus. Ex, eius.</p>
            <div>1800 грн</div>
            <button id="signUpFormpl3">Записатись</button>
        </div>
        <div>
            <h4>Комбінований серединний пілінг</h4>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellendus esse incidunt eum doloribus. Ex, eius.</p>
            <div>2500 грн</div>
            <button id="signUpFormpl4">Записатись</button>
        </div>
        <div>
            <h4>BioRePeel</h4>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellendus esse incidunt eum doloribus. Ex, eius.</p>
            <div>1500 грн</div>
            <button id="signUpFormpl5">Записатись</button>
        </div>
        <div>
            <h4>Keminikum</h4>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellendus esse incidunt eum doloribus. Ex, eius.</p>
            <div>1500 грн</div>
            <button id="signUpFormpl6">Записатись</button>
        </div>
        
        <h3>Доглядові процедури</h3>
        <div>
            <h4>Ферментотерапія</h4>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolores voluptates ullam illo, non modi facere.</p>
            <div>1100 грн</div>
            <button id="signUpFormcare1">Записатись</button>
        </div>
        <div>
            <h4>Карбоксітерапія</h4>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Pariatur modi similique, mollitia fuga quaerat porro.</p>
            <div>1000 грн</div>
            <button id="signUpFormcare2">Записатись</button>
        </div>
        <div>
            <h4>Масаж обличчя</h4>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellendus esse incidunt eum doloribus. Ex, eius.</p>
            <div>800 грн</div>
            <button id="signUpFormcare3">Записатись</button>
        </div>
    </main>

    <footer id="=contacts">
        <div>
            <blockquote><h2>Зв'яжіться з нами</h2></blockquote>
            <p>Phone</p>
            <a href="tel:+1234567890"><b>+123-456-78-90</b></a>
            <p>Email</p>
            <a href="mailto:examplemail@email.org"><b>name@email.com</b></a>
            <p>Address</p>
            <a href="https://maps.app.goo.gl/KUZNQT1GrH1TAQYc9"><b>Київ, вул.Жилянська 31</b></a>
            <div>
                <span><img src="./../../images/metro.png" alt="Емблема метрополітена" width="15"></span>
                <b>Олімпійська</b>
            </div>
        </div>
        <a href="https://www.tiktok.com/@dr.ovcharenko?_t=8qtqBxTkLOX&_r=1"><img src="./../../images/tiktok.png" alt="tik tok" width="30"></a>
        <a href="https://www.instagram.com/cosmetology_dr.ovcharenko/"><img src="./../../images/instagram.png" alt="instagram" width="30"></a>
    </footer>
</body>
</html>