<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div><img src="./../../images/servicesEx.jpg" alt="Зображення послуги" width="50"></div>
    <div>
        <div class="content" id="content">
            Приклад:
            Чистка + пілінг 
            
    Що входить в процедуру комбінованої чистки обличчя + пілінг?
    Демакіяж.
    Глибоке очищення по типу шкіри.
    Тонізація.
    Маска холодного гідрування для помʼякшення верхнього шару шкіри, розкриття пор.
    Ультразвукова чистка для відлущення зроговілих частинок шкіри, видалення надлишкового шкірного жиру.
    Мануальна та інструментальна чистка обличчя, що забезпечує видалення закритих та відкритих комедонів, міліумів.
    Поверхневий пілінг по типу шкіри та її потребам 
    Заспокійлива, порозвучуюча маска.
    Захисний, антисептичний крем з SPF на вихід.
        </div>
    </div>
    <button id="closeDialog">Закрити</button>
</body>
</html>