<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div><img src="./../../images/inject_ex.jpg" alt="Зображення для ін'єкційної послуги" width="50"></div>
    <div>
        <div class="tabs">
            <div class="items options-dialog" >Опис</div>
            <div class="items options-dialog" >Препарати</div>
        </div>
        <div id="content">
            Виберіть один з варіантів вище, щоб побачити текст.
        </div>
    </div>
<button id="closeDialog">Закрити</button>
</body>
</html>
